.part1, .part2, .part3, #intro, #ending-fortune {
    width:300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* transition-duration: 1s; */

}

#ending1 {
    width:128px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#note1, #note2, #intro, #note3 {
    padding: 10px;
    font-family: source-code-pro, monospace;    
    font-weight: 400;
    transition-duration: 1s;
    font-size: 16px;
}



#fortune1, #fortune2, #fortune3 {
    width: 150px;
    margin: 25px;
    /* transition-duration: 1s; */
}

.ending {
    width: 300px;
}




.fortune-spin {
    transform-origin: center center;
    -webkit-animation: rotation 5s infinite linear;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}
